{% extends "layout.html" %}
{% block title %}{{ this.name }} {% endblock %}
{% block body %}
  <h1>{{ this.name }}</h1>

  <div class="description">{{ this.description }}</div>

  <dl class="inline">
    {% if this.website %}
      <dt>Site internet:</dt>
      <dd><a href="{{ this.website }}">{{ this.website.host }}</a></dd>
    {% endif %}
  
    {% if this.address %}
      <dt>Adresse:</dt>
      <dd>{{ this.address }}</dd>
    {% endif %}

    {% if this.opening_hours %}
      <dt>Heures d'ouverture:</dt>
      <dd>{{ this.opening_hours }}</dd>
    {% endif %}
  
    {% if this.breads %}
      <dt>Pains:</dt>
      <dd>{{ this.breads }}</dd>
    {% endif %}
  </dl>

  
  {% set images = this.attachments.images.all() %}
  {% if images %}
    <h2>Images</h2>
    {% for image in images %}
      <div class="image">
        <img src="{{ image.thumbnail(640)|url }}" alt="">
        {% if image.exif %}
        <p class=meta>
          {{ image.exif.camera }}
          {% if image.exif.created_at %}
            ({{ image.exif.created_at|dateformat }})
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}