{% extends "layout.html" %}
{% block title %}Boulangeries{% endblock %}
{% block body %}
  <h1>Boulangeries</h1>
  <div class="bakeries">
  {% for bakery in this.children %}
    <div class="bakery">
      {% set image = bakery.attachments.images.first() %}
      {% if image %}
        <img src="{{ image.thumbnail(320)|url }}" alt="">
      {% endif %}
      <h2><a href="{{ bakery|url }}">{{ bakery.name }}</a>
      <p><strong>{{ bakery.type }}</strong></p>
    </div>
  {% endfor %}
  </div>
{% endblock %}