<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome{% endblock %} — RéseauBoulangeriePaysanne</title>
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    {% block extrahead %}{% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <div class="container px-0">
      <header class="d-flex flex-wrap justify-content-center py-3 border-bottom text-bg-dark px-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
          <span class="fs-4">Réseau Boulangerie Paysanne</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="{{ '/'|url }}" class="nav-link {% if this._path == '/' %} active{% endif %}">Bienvenue</a></li>
          </li>
          {% for href, title in [
            ['/bakeries', 'Boulangeries'],
            ['/about', 'About']
          ] %}
            <li class="nav-item">
              <a href="{{ href|url }}" class="nav-link {% if this.is_child_of(href) %} active{% endif %}">{{ title }}</a>
            </li>
          {% endfor %}

        </ul>
      </header>
    </div>

    <div class="container flex-grow-1">
      <div class="page">
        {% block body %}{% endblock %}
      </div>  
    </div>  

    <div class="container">
      <footer>
        &copy; Copyright 2022 by Réseau Boulangerie Paysanne.
      </footer>
    </div>
  </body>
