{% extends "layout.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
  <script src="static/map.js"></script>
{% endblock %}

{% block title %}Map{% endblock %}
{% block body %}
  <h1>Boulangeries</h1>
  <p>Cliquez sur une boulangerie pour voir le détail</p>

  <div id="map" style="height: 450px;"></div>

  <script>
    main();
  </script>
{% endblock %}