

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

.container {
    background: #f1fbfe;
}

dl.inline dd {
    display: inline;
    margin: 0;
  }
  
dl.inline dd:after{
    display: block;
    content: '';
}

dl.inline dt{
    display: inline-block;
    min-width: 100px;
}